<html lang="en">
    <%- include('./partials/head.ejs') %>
    <!-- <head>
        <meta charset="=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Raghad Sami Hamaida | <%= title%> </title>
    </head> -->
    <body>

        <% const name = 'Raghad' %> 
        <%- include('./partials/nav.ejs') %>  
        <!-- <nav>
            <div clss ="site-title">
                <P><%= name %></P>
                <a href="/"><h1>Blog Raghad</h1></a>
                <p>Raghad Sami Site</p>
            </div>
        
        <ul>
            <li><a href = "/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
        </nav> -->
        <div class="blogs contaent">
            <h2>ALL Blogs</h2>

            <% if (blogs.length > 0) { %>
            <% blogs.forEach (blog =>{ %>

            <h3 class="title"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet%></p>

            <% })%>
            <%} %>


        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>